SECRET_KEY=anotara-secret-key
JWT_SECRET_KEY=super-secret-jwt-key
MYSQLHOST=127.0.0.1
MYSQLUSER=root
MYSQLPASSWORD=
MYSQLDATABASE=anotara
MYSQLPORT=3306
GEOAPIFY_KEY=
MAPBOX_TOKEN=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_SERVICE_ACCOUNT_JSON=
